// using mixins is a one of ways to make dynamic extensions

mixin col-proof(icon, text)
    div(class='col m4 s12')
        i(class='medium material-icons blue-text text-lighten-4')!= icon
        br
        br
        // inserting variable's content; != equals that we use variable instead of text
        div.t-spacing-col!= text
        br
        br


mixin section-title(title)
    div.row
        div(class='col s12')
            h5
                =title
            br


// Pass null as args if you don't need this button as modal trigger and it doesn't need onclick function.
mixin create-action-button(modalID, onclick)
    - var classDefinition = 'btn-floating btn-large waves-effect waves-light green lighten-1';
    - var hrefDefinition = '#!';
    - if (modalID != null) {
        - classDefinition = classDefinition + ' modal-trigger';
        - hrefDefinition = '#' + modalID;
    - }

    // adding spaces for button
    br
    span &nbsp &nbsp &nbsp &nbsp &nbsp

    a(class='#{classDefinition}' href='#{hrefDefinition}' onclick='#{onclick}')
        i(class='material-icons') add