extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/disciplines.css')
    script(src='/js/disciplines.js')

// Login block and module to show errors, mixins usage
block content
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // All page content will be here
    div(class='container maintaining-disciplines-context')





        +section-title('Управление дисциплинами')

        // Here will be disciplines list.
        div.disciplines
        i(class='material-icons medium green-text text-lighten-1 pointer'
          onclick='disciplines.addDiscipline();') add

        // Passing all server's vars to client.
        script.
            disciplines['disciplines'] = !{JSON.stringify(disciplines)};
            disciplines['subjects'] = !{JSON.stringify(subjects)};
            disciplines['teachers'] = !{JSON.stringify(teachers)};
            disciplines['groups'] = !{JSON.stringify(groups)};
