extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/results.css')
    script(src='/js/results.js')
    // To format dates
    script(src='/js/utils.js')

// Login block and module to show errors, mixins usage
block content
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins


    // All page content will be here
    div(class='container maintaining-results-context')

        +section-title('Просмотр результатов опросов')

        // To print corresponding message if we have no any results yet
        - if (results.length == 0) {
            p На текущий момент нет ни одного проведённого опроса
        - }
        - else
            //// Export all links.
            //span Экспортировать все результаты в&nbsp
            //a(href='/maintaining/results/pdf' target='_blank') PDF
            //span &nbsp/&nbsp
            //a(href='/maintaining/results/csv' target='_blank') CSV
            //br
            //br
        -

        // Accordion with all results
        ul(class='collapsible popout' data-collapsible='accordion')
            - each feedbackStage in results
                each teacher in feedbackStage.uteachers


                    // Result item
                    li

                        // Header
                        div(class='collapsible-header' id='#{feedbackStage.id}-#{teacher.id}')
                            // Icon on the left
                            i.material-icons trending_up

                            // Filling header data for accordion elements
                            script.
                                /* Lambda to avoid names intersections. */
                                (function () {
                                    // Getting current item object in DOM
                                    var feedbackStageId = '#{feedbackStage.id}';
                                        var teacherId = '#{teacher.id}';
                                    var currentItemRow = $('.maintaining-results-context .collapsible-header#' + feedbackStageId + '-' + teacherId);


                                    var teacher = '#{JSON.stringify(teacher)}';
                                    teacher = utils.parseObjectFromJadeStringified(teacher);

                                    currentItemRow.append('' + teacher.last_name + ' ' + teacher.first_name + ' ' + teacher.second_name);


                                // Formatting and appending date
                                var dateFrom = '#{feedbackStage.date_from}';
                                var dateTo = '#{feedbackStage.date_to}';
                                currentItemRow.append(' (опрос ' + utils.formatDateForStage(dateFrom));
                                currentItemRow.append(' -- ' + utils.formatDateForStage(dateTo) + ')');

                                }())




                        // Inner block (hidden)
                        div.collapsible-body
                            +create-graph-result(feedbackStage.feedback_form.questions, feedbackStage.answers, teacher.id, feedbackStage.voted_users.length)
