extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/stages.css')
    script(src='/js/stages.js')
    // To format dates
    script(src='/js/utils.js')

// Login block and module to show errors, mixins usage
block content
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // All page content will be here
    div(class='container')

        +section-title('Управление опросами')

        // A list of existing stages
        ul(class='collection stages')

        // Adding existing stages to list
        - each val in stages
            script.
                /* Getting values here, because Jade has bad convert rules (destroys objects). */
                var id          = '#{val.id}';
                var dateFrom    = '#{val.date_from}';
                var dateTo      = '#{val.date_to}';
                var formName    = '#{val.feedback_form.name}';
                // Converting stage descriptions to string first.
                var stageDescriptions = '#{JSON.stringify(val.stage_descriptions)}';
                // Replacing quote symbol on normal everywhere using regexp.
                stageDescriptions = stageDescriptions.replace(/&quot;/g, '"');
                // Parsing to object.
                stageDescriptions = JSON.parse(stageDescriptions);

                /* Adding stages in list. */
                stages.appendStageToStagesList($(".collection.stages"), id, dateFrom, dateTo, formName, stageDescriptions);


        // A button to create new stage
        +create-action-button('addStage', null)


        // Add stage dialog
        div(id='addStage' class='modal modal-large')
            // Content of the dialog
            div(class='modal-content')
                h5 Запуск нового опроса
                br

                // Dates block
                span Выберите дату начала и завершения опроса
                - var minDate = new Date();
                - var maxDate = new Date(minDate);
                - maxDate.setYear(minDate.getFullYear() + 5);
                div.row
                    div(class='col l6 m6 s6')
                        input(id='dateFrom' type='date' max='#{controller.formatDateForHtml(maxDate)}' min='#{controller.formatDateForHtml(minDate)}')
                    div(class='col l6 m6 s6')
                        input(id='dateTo' type='date' max='#{controller.formatDateForHtml(maxDate)}' min='#{controller.formatDateForHtml(minDate)}')
                br

                // Block for search query and form chooser
                div.row
                    // Form chooser column
                    div(class='col l6 m6 s12')
                        // If we don't have any forms yet
                        - if (forms.length == 0) {
                            div(class='center red-text') Для начала необходимо создать хоть одну форму!
                        // Populating forms chooser
                        - } else {
                            div(class='input-field col s12')
                                select.forms
                                    // First form should be selected
                                    - for (var i = 0; i < forms.length; i++) {
                                        - if (i == 0) {
                                            option(value='#{forms[i].id}' selected) #{forms[i].name}
                                        - } else {
                                            option(value='#{forms[i].id}') #{forms[i].name}
                                        - } }
                                label Выберите форму для опроса
                        - }
                    // Some spaces for proper dividing on small screens
                    div.hide-on-med-and-up
                        br
                        br
                        br
                    // Search input column
                    div(class='col l6 m6 s12')
                        span.
                            Укажите через точку с запятой критерии для выбора дисциплин<br>
                            Дисциплины в списке ниже будут использоваться для опроса
                        div(class='input-field')
                            i(class='material-icons prefix') search
                            input(id='disciplineSearch' type='text' class='validate' autocomplete='off')
                            label(for='disciplineSearch') Поисковой запрос

                // Disciplines chosen list
                div.overflow-list
                    ul(class='collection disciplines')
                        - each discipline in disciplines
                            li(class='collection-item' subjectID='#{discipline.subject.id}' teacherID='#{discipline.teacher.id}' groupID='#{discipline.group.id}').
                                #{discipline.subject.name} (#{discipline.teacher.name}) #{discipline.group.name}

            // Action buttons for dialog
            div.modal-footer
                a(id='cancelStage' href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat') Отмена
                - if (forms.length != 0) // adding run button only if we have forms at all
                    a(id='submitStage' class='waves-effect waves-teal btn-flat') Запустить


        // Delete stage prompt
        div(id='deleteStage' class='modal')
            // Content of the dialog
            div.modal-content
                h5 Вы действительно хотите удалить этот этап анкетирования?
                br

                span Это действие также приведёт к потере данных о результатах выбранного опроса

            // Action buttons for dialog
            div.modal-footer
                a(id='cancelDeletion' href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat') Отмена
                a(id='submitDeletion' class='waves-effect waves-teal btn-flat') Удалить