extends ../../base/layout

// Some additional includes of styles and scripts
block includes
    link(rel='stylesheet' href='/css/forms.css')
    script(src='/js/stages.js')

// Login block and module to show errors, mixins usage
block content
    include ../../blocks/admin-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // All page content will be here
    div(class='container')

        +section-title('Управление опросами')

        // A list of existing stages
        ul.collection

        // Adding existing stages to list
        - each val in stages
            script.
                /* Getting values here, because Jade has bad convert rules (destroys objects). */
                var id          = '#{val.id}';
                var dateFrom    = '#{val.date_from}';
                var dateTo      = '#{val.date_to}';
                var formName    = '#{val.feedback_form.name}';
                var disciplines = '#{val.stage_descriptions}';

                /* Adding stages in list. */
                stages.appendStageToStagesList($(".collection"), id, dateFrom, dateTo, formName, disciplines);


        // A button to create new stage
        +create-action-button('addStage', null)

        // Add stage dialog
        div(id='addStage' class='modal modal-large')
            // Content of the dialog
            div.modal-content
                h5 Запуск нового опроса
                br

                span Здесь что-то будет...

            // Action buttons for dialog
            div.modal-footer
                a(id='cancelStage' href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat') Отмена
                a(id='submitStage' class='waves-effect waves-teal btn-flat') Запустить