extends ../../base/layout

// Additional js and css includes for surveys page
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/survey.css')
    script(src='/js/survey.js')

// Adding auth block for student and errors toaster
block content
    include ../../blocks/student-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // Context for jQuery
    div(class='container survey-index-context')

        // Setting title as a name of survey's form
        div.row
            div(class='col s12')
                h5 Опрос

                // Subtitle for survey
                p #{form.name} (#{form.subject}, #{form.teacher})

                br

                p #{form.description}

        // A block of survey's questions
        div.forms-list
            each question in form.questions

                // Preparing question's style
                div.row
                    div(class='class="col l8 m10 s12')
                        div(class='card-panel blue')
                            span.white-text
                                h5= question.text
                                br
                                // A block for answers for question
                                form(action='#' class='survey-form')

                                    // Rendering answers for question
                                    each answer in question.possible_answers
                                        p(style="display: inline-block")
                                            input(type='radio' name='#{question.id}' id='#{answer.id}')
                                            label(class='white-text' for='#{answer.id}')= answer.text



        br

        // Confirmation button.
        a(id='confirmation' class='btn-large waves-effect waves-light red lighten-2'
        onclick='survey.openConfirmation();') Отправить

        // Confirmation dialog view.
        div(id='confirm-dialog' class='modal')
            div.modal-content
                // Dialog header.
                h4 Вы подтверждаете отправку ответов?
                // Dialog text.
                p После подтверждения отправки изменить ответы будет уже невозможно
            // Dialogs action buttons.
            div.modal-footer
                a(href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat') Нет
                a(href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat'
                onclick='survey.submitAnswersRequest(#{stageID}, #{disciplineID}, #{teacherID});') Да


        // Dialog with prompt about leaving the survey.
        div(id='back-prompt-dialog' class='modal')
            div.modal-content
                // Dialog header.
                h4 Вы действительно хотите прекратить опрос?
                // Dialog text.
                p Отмеченные ответы не будут сохранены
            // Dialogs action buttons.
            div.modal-footer
                a(href='#!' class='modal-action modal-close waves-effect waves-teal btn-flat') Нет
                a(href='/survey' class='modal-action modal-close waves-effect waves-teal btn-flat') Да

