extends ../../base/layout

// Additional css includes for surveys page
block includes
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/surveys.css')
    script(src='/js/survey.js')

// Adding auth block for student and errors toaster
block content
    include ../../blocks/student-auth
    include ../../blocks/errors-toaster
    include ../../components/mixins

    // Showing disciplines chooser only if user has authorized
    if controller.authModule.getStudentsAuthorization(session)
        // Context for jQuery
        div(class='container surveys-index-context')

            // If there is no available surveys showing prompt about it
            - if (surveys.length === 0) {
                br
                br
                br
                +section-title('На текущий момент нет доступных для вас опросов', true)

            // Showing a list of surveys to make student choose one of them
            - } else {

                // Choose survey prompt
                +section-title('Выберите интересующий вас опрос')

                // Rendering list of all available surveys
                div(class='collection' id='surveys')
                    each survey in surveys
                        each discipline in survey.disciplines
                            each teacher in discipline.Teachers
                                a(href='#' class='collection-item black-text' onclick='survey.openSurvey(#{survey.id}, #{discipline.ID}, #{teacher.ID});').
                                    #{discipline.DisciplineName} (#{teacher.LastName} #{teacher.FirstName} #{teacher.SecondName}): c #{survey.date_from} по #{survey.date_to}
            - }

    else
        // A prompt for unauthorized users to log in
        br
        br
        br
        br
        +section-title('Чтобы принять участие в анкетировании, необходимо авторизоваться', true)



    //form(action='/student/login2' method='post')
    //    div
    //        label OpenID:
    //        input(type='text' name='openid_identifier' value='https://openid.sfedu.ru/server.php/idpage?user=koshmansky@sfedu.ru')
    //        br
    //        nput(type='submit' value='Sign In')
